/*'gray-light': '#d3dce6' 
  'dark-gray: #4a483e
  'gray-light-2: #38372f
   green: '#13ce66',
  'gray-dark': '#273444'
   yellow: '#ffc82c'
*/

.hg-theme-default {
  background-color: transparent;
}

.hg-theme-default .hg-button {
  background-color: #d3dce6;
  height: 2.7em;
  font-weight: 700; 
  font-size: 1em;
  color: #4a483e;
  border-bottom: none;
}

@media only screen and (min-width: 760px) {
  .hg-theme-default .hg-button {
    background-color: #d3dce6;
    height: 2.5em;
    font-weight: 700; 
    font-size: 1em;
    color: #4a483e;
    border-bottom: none;
  }
}

@media only screen and (min-width: 976px) {
  .hg-theme-default .hg-button {
    background-color: #d3dce6;
    height: 3em;
    font-weight: 700; 
    font-size: 1.1em;
    color: #4a483e;
    border-bottom: none;
  }
}

.hg-theme-default .hg-button:hover {
  opacity: 0.8;
}

.hg-theme-default .hg-button:active {
  background-color: #d3dce6;
  opacity: 0.6;
}

.hg-theme-default .hg-rows .bg-yellow {
  color: white;
  background-color: #ffc82c;
}

.hg-theme-default .hg-rows .bg-gray-dark {
  color: white;
  background-color: #273444;
}

.hg-theme-default .hg-rows .bg-green {
  color: white;
  background-color: #13ce66;
}
.hg-theme-default .button-active {
  background-color: #d3dce6;
  opacity: 0.6;
}